<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form method="get">
            <div>
                <input value="{{request.get.completed}}" type="checkbox" id="taskfilter" name="completed" checked />
                <label for="taskfilter">Não concluidas </label>
                <button type="submit">
                    buscar
                </button>
            </div>
        </form>
    </div>
    <div>
        <ul>
        {% for obj in object_list  %}
            <li>{{obj.title}}</li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>