/* Custom CSS para a seção de login */
#logreg-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 400px; /* Limita a largura da seção de login */
    margin: auto;
    position: absolute; /* Permite o posicionamento em relação ao viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* CSS global da página (não interfere na seção de login) */
body {
    background-color: #f3f3f3;
    margin: 0;
    height: 100vh;
}

/* Estilos específicos para a página principal, se necessário */
.container {
    padding-top: 20px;
}

.fullscreen-image {
    width: 100vw;   /* A largura será 100% da viewport */
    height: 100vh;  /* A altura será 100% da viewport */
    object-fit: cover; /* A imagem será cortada de forma a cobrir completamente o espaço disponível */
    position: fixed; /* Fixa a imagem no fundo da página */
    top: 0;
    left: 0;
    z-index: -1; /* Coloca a imagem atrás de todos os outros elementos */
    opacity: 1.0; /* Reduz a opacidade da imagem para 30% */
    filter: grayscale(5%); /* Aplica 50% de filtro em escala de cinza */
}

