{% extends 'base_accounts.html' %}
{% load static %}
{% block title %}Reset Ok{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/font.css' %}">
<link rel="stylesheet" href="{% static 'css/background.css' %}">
<div>
    <style>
        .Times {
            font-family: 'Times New Roman', sans-serif;
        }
    </style>

    <div class="py-3" style="background-color: #246a6a;">
        <h4 class="text-center Times" style="color: #ffffff;">Solicitação de Senha Nova</h4>
    </div>

    <div style="margin-top: 15px;">
        <p>Enviamos um e-mail com instruções para definir sua nova senha.<br>Se eles não chegarem em alguns minutos, verifique sua pasta de spam.</p>
    </div>

    <div class="text-center">
        <a class="btn btn-link btn-custom no-background" href="{% url 'landing' %}" style="margin-left: 16px;">Voltar</a>
    </div>
</div>
{% endblock %}