{% extends 'base_accounts.html' %}
{% block title %}Formulário Reset Senha{% endblock %}
{% block content %}
{% load static %}
<div class="col-md-4">
    {% if validlink %}

    <style>
        .Times {
            font-family: 'Times New Roman', sans-serif;
        }
    </style>

    <div class="py-3" style="background-color: #246a6a;">
        <h5 class="text-center Times" style="color: #ffffff;">
            Entre com sua nova senha para resetar.
        </h5>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <div class="mt-3">
            {{ form.new_password1.errors }}
            <label class="form-label" for="id_new_password1">Nova Senha:</label>
            <input type="password" name="new_password1" class="form-control" id="id_new_password1"> 
        </div>
        <div class="mt-3">
            {{ form.new_password2.errors }}
            <label class="form-label" for="id_new_password2">Confirmação de senha:</label>
            <input type="password" name="new_password2" class="form-control" id="id_new_password2"> 
        </div>
        <button type="submit" class="btn btn-warning mt-3">Alterar Senha</button>
    </form>

    {% else %}
    <h1>Falha na redefinição de senha</h1>
    <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
    {% endif %}
</div>
{% endblock %}
