{% extends 'base_accounts.html' %}
{% block title %}Formulário Reset Senha{% endblock %}
{% block content %}
{% load static %}

<title>Formulário Reset Senha</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">

<div class="col-md-10">
    {% if validlink %}

    <style>
        .Times {
            font-family: 'Times New Roman', sans-serif;
        }
    </style>

    <div class="py-3" style="background-color: #246a6a;">
        <h5 class="text-center Times" style="color: #ffffff;">
            Entre com sua nova senha para resetar.
        </h5>
    </div>

    <form action="" method="post">
        {% csrf_token %}

        <div class="mt-3">
            {{ form.new_password1.errors }}
            <label class="form-label" for="id_new_password1">Nova Senha:</label>
            <div class="input-group">
                <input type="password" name="new_password1" class="form-control" id="id_new_password1">
                <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('id_new_password1')">
                    <i id="icon-id_new_password1" class="bi bi-eye"></i>
                </button>
            </div>
        </div>

        <div class="mt-3">
            {{ form.new_password2.errors }}
            <label class="form-label" for="id_new_password2">Confirmação de senha:</label>
            <div class="input-group">
                <input type="password" name="new_password2" class="form-control" id="id_new_password2">
                <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('id_new_password2')">
                    <i id="icon-id_new_password2" class="bi bi-eye"></i>
                </button>
            </div>
        </div>

        <button type="submit" class="btn btn-warning mt-3">Alterar Senha</button>

    </form>

    {% else %}
        <h1>Falha na redefinição de senha</h1>
        <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
    {% endif %}

    <script>
    function togglePasswordVisibility(id) {
        const passwordField = document.getElementById(id);
        const icon = document.getElementById(`icon-${id}`);

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            icon.classList.remove('bi-eye');
            icon.classList.add('bi-eye-slash');
        } else {
            passwordField.type = 'password';
            icon.classList.remove('bi-eye-slash');
            icon.classList.add('bi-eye');
        }
    }
    </script>
</div>


{% endblock %}
