{% extends 'base_accounts.html' %}
{% load static %}
{% block title %}Registrar{% endblock %}
{% block content %}

<title>Cadastro de Usuários</title>
<link rel="stylesheet" href="{% static 'css/font.css' %}">
<link rel="stylesheet" href="{% static 'css/background.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">

<div class="col-12">

    <style>
        .Times {
            font-family: 'Times New Roman', sans-serif;
        }
    </style>

    <div class="py-3" style="background-color: #246a6a;">
        <h3 class="text-center Times" style="color: #ffffff;">
            Cadastro de Usuários | mupisys
        </h3>
    </div>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mt-3">
                <label class="form-label" for="id_{{ field.name }}">{{ field.label|capfirst }}:</label>
                <div class="input-group">
                    <input
                        type="{% if field.name == 'senha' or field.field.widget.input_type == 'password' %}password{% else %}text{% endif %}"
                        name="{{ field.name }}"
                        id="{{ field.id_for_label }}"
                        {% if field.value != None %}value="{{ field.value|stringformat:'s' }}"{% endif %}
                        maxlength="{{ field.field.max_length }}"
                        {% if field.required %}required{% endif %}
                        class="form-control"
                    >
                    {% if field.name == 'senha' or field.field.widget.input_type == 'password' %}
                    <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('{{ field.id_for_label }}')">
                        <i id="icon-{{ field.id_for_label }}" class="bi bi-eye"></i>
                    </button>
                    {% endif %}
                </div>
            </div>

            {% for error in field.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        {% endfor %}

        <div class="text-center">
            <button class="btn btn-warning mt-3" type="submit" href="{% url 'home' %}">Registrar</button>
        </div>
    </form>

    <script>
        function togglePasswordVisibility(id) {
            const passwordField = document.getElementById(id);
            const icon = document.getElementById(`icon-${id}`);

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                icon.classList.remove('bi-eye');
                icon.classList.add('bi-eye-slash');
            } else {
                passwordField.type = 'password';
                icon.classList.remove('bi-eye-slash');
                icon.classList.add('bi-eye');
            }
        }
    </script>

    <div class="text-center">
        <a class="btn btn-link btn-custom no-background" href="{% url 'landing' %}" style="margin-left: 16px;">Voltar</a>
    </div>

</div>

{% endblock %}